{% extends "base.html" %}
{% block title %}{{ block.super }} | 404:Page Not Found{% endblock %}
{% block content %}
<div class="main">
   <h2>Oops!</h2>
   <p>The page you are looking for does not exist on this site. Please check the url of the page you are looking for or contact us at:
   <a href="mailto:&#97;&#100;&#109;&#105;&#110;&#64;&#97;&#114;&#116;&#105;&#110;&#116;&#104;&#101;&#111;&#112;&#101;&#110;&#112;&#104;&#105;&#108;&#97;&#46;&#111;&#114;&#103;">admin<code>@</code>artintheopenphila.org</a>
   </p>
</div>
{% endblock %}
