{% extends "cms/article_detail.html" %}
{% block title %}{{ block.super }} | {{ article.title }}{% endblock %}
{% block bodyid %}id="home"{% endblock %}
{% block content %}
{% block main %}
{{ block.super }}      
{% endblock %}
{% block aside %}
<div class="aside">
    <div id="events" class="section">
    <h2>Upcoming &amp; Featured Events</h2>
    {% for event in upcoming_events %}
        <div class="event">
        	<h3 class="date upcoming"><span class="month">{{ event.start_date|date:"M" }}</span>
                <span class="day">{{ event.start_date|date:"d" }}</span>
            </h3>
            {% if event.image %}
            {% version event.image 'thumbnail' as thumb %}
            
                <a href="{{ event.get_absolute_url }}" 
                   alt="{{ event.title }}" 
                   title="{{ event.title }}">
                   <img src="{{ thumb.url }}" 
                        width="{{ thumb.width }}"
    	                height="{{ thumb.height }}"
    	                alt="{{ event.title }}"
    	                title="{{ event.title }}" />
                </a>
            {% endif %}
            <p class="long-date">{{ event.start_date|date:"l F d, Y" }}</p>
            <h4>
                <a href="{{ event.get_absolute_url }}" 
                   alt="{{ event.title }}" 
    	           title="{{ event.full_name }}">{{ event.title }}
                </a>
            </h4>
            {{ event.description|safe|truncatewords_html:25 }}
        </div>
    {% endfor %}
    {% for event in featured_events %}
        <div class="event">
        	<h3 class="date"><span class="month">{{ event.start_date|date:"M" }}</span>
                <span class="day">{{ event.start_date|date:"d" }}</span>
            </h3>
            {% if event.image %}
            {% version event.image 'thumbnail' as thumb %}
            
                <a href="{{ event.get_absolute_url }}" 
                   alt="{{ event.title }}" 
                   title="{{ event.title }}">
                   <img src="{{ thumb.url }}" 
                        width="{{ thumb.width }}"
    	                height="{{ thumb.height }}"
    	                alt="{{ event.title }}"
    	                title="{{ event.title }}" />
                </a>
            {% endif %}
            <p class="long-date">
            	{{ event.start_date|date:"l F d, Y" }}
            </p>
            <h4>
                <a href="{{ event.get_absolute_url }}" 
                   alt="{{ event.title }}" 
    	           title="{{ event.full_name }}">{{ event.title }}
                </a>
            </h4>
            {{ event.description|safe|truncatewords_html:25 }}
        </div>
    {% endfor %}
    <p><a href="/events/" class="teaser">View all AIO &amp; Partner Events</a></p>
    </div>
    <div id="affiliates" class="section">
    <h2>Art in the Open Partners</h2>
    <ul class="affiliates">
    {% for affiliate in affiliates %}
        <li>
        	<a href="{{ affiliate.website }}" target="_blank" 
    	          alt="{{ affiliate.name }}" 
    	          title="{{ affiliate.name }}">
           {% if affiliate.image %}
           {% version affiliate.image 'thumbnail' as thumb %}
    	          <img src="{{ thumb.url }}" 
    	               width="{{ thumb.width }}"
    	               height="{{ thumb.height }}"
    	               alt="{{ affiliate.name }}"
    	               title="{{ affiliate.name }}" />
    	     	{% endif %}
    	   {{ affiliate.name }}
    	   </a>
           </li>
    {% endfor %}
    	</ul>
    	<p><a href="/affiliates/" class="teaser">View all AIO Partners &amp; Affiliates</a></p>
    </div>
    {% if artists %}
    <div id="artists" class="section">
    <h2>Featured Artist{{ artists.count|pluralize }}</h2>
    {% for artist in artists %}
        {% version artist.image 'thumbnail' as thumb %}
        <div class="artist">
            {% if artist.image %}
    	       <a href="" 
    	          alt="{{ artist.full_name }}" 
    	          title="{{ artist.full_name }}">
    	          <img src="{{ thumb.url }}" 
    	               width="{{ thumb.width }}"
    	               height="{{ thumb.height }}"
    	               alt="{{ artist.full_name }}"
    	               title="{{ artist.full_name }}" />
    	       </a>
    	       {% endif %}
    	   <h3>
    	       <a href="" 
    	          alt="{{ artist.full_name }}" 
    	          title="{{ artist.full_name }}">{{ artist.full_name }}
    	       </a>
    	   </h3>
    	   <h4>{{ artist.city }}, {{ artist.state }}</h4>
    	   {{ artist.bio|safe|truncatewords_html:50 }}
    	   <p>
    	   <a class="teaser" href="" 
    	          alt="{{ artist.full_name }}" 
    	          title="{{ artist.full_name }}">
    	     Read More about {{ artist.full_name }}</a></p>
    	     <p><a href="/affiliates/" class="teaser">View all Participating Artists</a></p>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>     
{% endblock %}
{% endblock %}